// Incluye un sass map donde podremos nombrar y crear variables personalizadas en cada proyecto.

$colors: (
  neutral: (
    // Bright Red (Errors)
    400: hsl(0, 90%, 57%),
    // Light Grey (Text Field)
    200: hsl(240, 2%, 92%),
    // Very Light Grey (BG)
    100: hsl(0, 0%, 98%),
  ),
  primary: (
    // Slightly Desaturated Cyan
    400: hsl(167, 36%, 54%),
    // Dark Blue
    700: hsl(205, 41%, 21%),
    // Grayish Dark Blue
    900: hsl(245, 10%, 22%),
  ),
);
