@use '../abstracts/' as *;

// Esto puede ser de mucha ayuda a la hora de crear botones y navegations.

.flex-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-group-2 {
  --flex-gap: #{size(40)};

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.flex-group-3 {
  --flex-gap: #{size(40)};

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(48)};
    flex-direction: row;
  }
}

.flex-group-4 {
  --flex-gap: #{size(32)};

  display: flex;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(48)};
  }

  @include mq(large) {
    --flex-gap: #{size(52)};
  }
}

.flex-group-5 {
  --flex-gap: #{size(16)};

  display: flex;
  flex-direction: column;
  gap: var(--flex-gap, $flex-group-gap);

  @include mq(medium) {
    --flex-gap: #{size(32)};
    flex-direction: row;
    align-items: center;

    &.right {
      flex-direction: row-reverse;
      justify-content: end;
    }
  }
}
