@use '../abstracts/' as *;

.homepage-contact-me {
  --grid-gap: #{size(40)};

  padding-block-start: size(115);
  padding-block-end: size(80);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-content: center;

  gap: var(--grid-gap, $grid-group-gap);
  text-align: center;

  .button {
    justify-self: center;
  }

  div {
    display: none;
  }

  @include mq(medium) {
    --grid-gap: #{size(32)};

    padding-block-start: size(96);
    padding-block-end: size(96);
    grid-template-columns: 2.1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: start;

    div {
      display: inline-block;
      width: size(114);
      height: 1px;
      background-color: clr(primary, 900);
      opacity: 0.15;
      justify-self: center;
    }
  }

  @include mq(large) {
    padding-block-start: size(150);
    padding-block-end: size(150);
    grid-template-columns: 2.1fr auto 1fr;

    div {
      width: 33.375rem;
    }
  }
}
